Folium Marker Cluster of all 4 room resale listings in Singapore
===
***

In [12]:
# Import the MarkerCluster folium plugin
from folium.plugins import MarkerCluster

## Write your code below (Note: the Folium map output might take a while to load)
lat_long, listing_price = extract_lat_long_price(hdb_resale_listings)

# from folium.plugins import MarkerCluster

map_folium = folium.Map([1.357,103.826], height=550, width=990, zoom_start=11.5)

marker_cluster = MarkerCluster().add_to(map_folium)

for i in range(len(lat_long)):

    
    lat_long_of_point = lat_long[i]
    price_of_point = listing_price[i]
    
    popup_text = '$' + str(price_of_point)  # Get the price of listing and format the string
    folium.Marker(lat_long_of_point, popup = popup_text, tooltip = "Click to view price").add_to(marker_cluster)    # Get a pair of lat and long


display(map_folium)

NameError: name 'folium' is not defined

In [14]:
# Run this cell to load the HDB listings data into a nested list

import csv

hdb_resale_listings = []

with open('data/HDB_Resale_With_Geocoordinates.csv', newline='', encoding="utf8") as f:
    reader = csv.reader(f)
    for row in reader:
        hdb_resale_listings.append(row)

    # Remove header
    hdb_resale_listings_headers = hdb_resale_listings[0]
    hdb_resale_listings = hdb_resale_listings[1:]
    
print(hdb_resale_listings[0]) # Print first row of data

FileNotFoundError: [Errno 2] No such file or directory: 'data/HDB_Resale_With_Geocoordinates.csv'

In [9]:
import pandas as pd

hdb_resale_df = pd.read_csv("HDB_Resale_With_Geocoordinates.csv")
hdb_resale_df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price,address,Longitude,Latitude
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0,406 ANG MO KIO AVE 10,103.853880,1.362005
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0,108 ANG MO KIO AVE 4,103.838202,1.370966
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0,602 ANG MO KIO AVE 5,103.835368,1.380709
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0,465 ANG MO KIO AVE 10,103.857201,1.366201
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0,601 ANG MO KIO AVE 5,103.835132,1.381041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73315,2020-06,YISHUN,EXECUTIVE,326,YISHUN RING RD,07 TO 09,146.0,Maisonette,1988,67 years 03 months,590000.0,326 YISHUN RING RD,103.842440,1.429551
73316,2020-06,YISHUN,EXECUTIVE,281,YISHUN ST 22,01 TO 03,152.0,Maisonette,1985,64 years 02 months,583000.0,281 YISHUN ST 22,103.837501,1.438965
73317,2020-06,YISHUN,EXECUTIVE,611,YISHUN ST 61,01 TO 03,142.0,Apartment,1987,66 years 08 months,550000.0,611 YISHUN ST 61,103.836153,1.420201
73318,2020-06,YISHUN,EXECUTIVE,611,YISHUN ST 61,07 TO 09,146.0,Maisonette,1987,66 years 07 months,595000.0,611 YISHUN ST 61,103.836153,1.420201
73319,2020-06,YISHUN,EXECUTIVE,828,YISHUN ST 81,04 TO 06,142.0,Apartment,1988,66 years 09 months,618000.0,828 YISHUN ST 81,103.832902,1.415191

In [6]:
# Run this cell of code to clean the csv dataset

# Iterate through nested list of HDB resale data
for row in hdb_resale_listings:
    
    # Extract data from specific columns and store into variables for easy access
    floor_area_sqm = row[6]
    lease_remaining = row[9]                 
    resale_price = row[10]
    longitude = row[12]
    latitude = row[13]
    
    row[6] = float(floor_area_sqm)
    
    # If lease_remaining info is of string data type
    if isinstance(lease_remaining,str):
        row[9] = int(lease_remaining[:2]) # Get years of lease remaining with slicing, and convert it to int type
   
    row[10] = float(resale_price)
    
    if longitude == '':
        row[12] = 0
    else:
        row[12] = float(longitude)
        
    if latitude == '':
        row[13] = 0
    else:
        row[13] = float(latitude)

print(hdb_resale_listings[:5]) # Print first 5 rows of data

NameError: name 'hdb_resale_listings' is not defined

In [7]:
hdb_resale_df = pd.DataFrame(hdb_resale_listings, columns = hdb_resale_listings_headers)
hdb_resale_df.head()

NameError: name 'hdb_resale_listings' is not defined

In [8]:
def extract_lat_long_price(database):
    
    lat_long = []
    listing_price = []

    for row in hdb_resale_listings:
        
        flat_type = row[2]
    
        if flat_type == "4 ROOM": 

            lat_long.append([row[13],row[12]])
            listing_price.append(row[10])
        
    # Yes you can return multiple outputs like this in python
    return lat_long, listing_price